**Question # 1**

In [6]:
x = int(input("English Marks :"))
y = int(input("Maths Marks : "))
z = int(input("Urdu Marks : "))
a = int(input("Islamiat Marks :"))
b = int(input("Pak Studies Marks : "))
Total = x + y + z + a + b

print("Total :")
print(Total)

print("Grade :")
if Total >= 400 and Total == 500 :
    print("A1")
elif Total >= 350 and Total < 400 :
    print("A")
elif Total >= 300 and Total < 350 :
    print("B")
elif Total >= 250 and Total < 300 :
    print("C")
else :
    print("Wrong Entry")

English Marks :76
Maths Marks : 87
Urdu Marks : 56
Islamiat Marks :87
Pak Studies Marks : 87
Total :
393
Grade :
A

**Question # 02**

In [7]:
x = int(input("Enter a number :"))

if x % 2 == 0 :
    print(x , "is even")
else :
    print("is odd")

Enter a number :3
is odd

**Question # 03**

In [15]:
list1 = ["dera", "hamza", "saad", "ali", "asghar", "jawad", "stop", "tahir", "tr", "like"]
length_of_list = len(list1)
print(length_of_list)

10

**Question # 04**

In [16]:
list2 = [1, 3, 10.5, 87.887, 10000.98]
total = sum(list2)
print(total)

10103.367

**Question # 05**

In [17]:
list3 = [5, 19.989, 78.09, 78.123, 78.98765]
get = max(list3)
print(get)

78.98765

**Question # 06**

In [2]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89,6,4,3,98,105,2]

for x in a:
    if x < 5 :
        print(x)

1
1
2
3
4
3
2